body, html {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    @apply bg-body text-general-text text-base;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}
